* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
  }
body {
    background-color: rgb(253, 251, 251);
    color: rgb(97, 95, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
}
header { 
    width: 100%;  
}
#cabecalho {
    background-color: rgb(0, 2, 2);
    color: white;
    position: fixed;
    
    opacity: 0.9;
    position: fixed;
    text-align: center;
    display: flex;
    padding: 0;
    flex-direction: column; 
    border: 0;
}
#titulo {
    font-size: 40px;
    padding: 20px;
}
.nav-links {
    background-color: orange;
    color: rgb(247, 248, 247);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row; 
    padding: 10px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    padding: 0 10px;
    color: rgb(247, 248, 247);
    font-weight: bold;
  }
  a:hover {
    opacity: 1;
  }
.containers {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

#minha_foto {
    padding: 10px;
}
.class-content{
    color: grey;
}
.containers-two {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 90%;
    padding-left: 100px;
    margin: 20px;
}

.lado-direito {
    padding-left: 20px;
}
.containers-three {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 25px;
}
table {
    border-collapse: collapse;
    border:3px solid rgb(100, 130, 40);
    width: 25%;
    line-height: 23px;
}
tbody {
    font-size: 90%;
    font-style: italic;
    letter-spacing: 1px;
}
td {
    text-align: center;
    border: 1px solid rgb(100, 130, 40);
}
#rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 10px;
    font-style: italic;
}
